.saves-*
.~*.emacs.d/anything-c-adaptive-history
.emacs~
.gitignore~
.emacs.d/anything-c-adaptive-history
*~
.emacs.d/session.*
*.elc
/.emacs.d/tramp
/.emacs.d/anything-hatena-bookmark.el?format=raw
/.emacs.d/local-settings.el
/.emacs.d/ac-comphist.dat
/.emacs.d/.org-id-locations
/.emacs.d/abbrev_defs
