[submodule ".emacs.d/cucumber.el"]
	path = .emacs.d/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/magit"]
	path = .emacs.d/magit
	url = git://gitorious.org/magit/mainline.git
[submodule ".emacs.d/rinari"]
	path = .emacs.d/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".emacs.d/rhtml"]
	path = .emacs.d/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule ".emacs.d/yasnippets-rails"]
	path = .emacs.d/yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule ".emacs.d/remember-el"]
	path = .emacs.d/remember-el
	url = git://repo.or.cz/remember-el.git
