[submodule ".emacs.d/cucumber.el"]
	path = .emacs.d/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/magit"]
	path = .emacs.d/magit
	url = git://gitorious.org/magit/mainline.git
